.search-box {
    position: fixed;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #f4f4f4;
    background: #fff;
    display: flex;
    align-items: center;
    z-index: 99;
    justify-content: center;

    &::before {
        content: ' ';
        width: 20px;
        height: 20px;
        background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2018%2025%22%20fill%3D%22rgb%28134%2C134%2C139%29%22%20style%3D%22%22%3E%20%3Ctitle%3Emagnifyingglass_reduced%401x%3C%2Ftitle%3E%20%3Cg%20transform%3D%22translate%280%2C%20-2.75%29%22%3E%20%3Crect%20width%3D%2218%22%20height%3D%2225%22%20fill%3D%22none%22%2F%3E%20%3Cpath%20d%3D%22M17.512%2C20.113l-4.786-4.788a7.068%2C7.068%2C0%2C1%2C0-.777.778l4.785%2C4.788a.55.55%2C0%2C1%2C0%2C.777-.777ZM1.427%2C10.75A5.946%2C5.946%2C0%2C1%2C1%2C7.373%2C16.7%2C5.957%2C5.957%2C0%2C0%2C1%2C1.427%2C10.75Z%22%2F%3E%20%3C%2Fg%3E%20%3C%2Fsvg%3E") no-repeat center/contain;
        position: absolute;
        top: 5px;
        left: 20px;
        bottom: 0;
        margin: auto;
    }

    input {
        border: 0;
        width: 355px;
        height: 35px;
        border-radius: 16px;
        box-sizing: border-box;
        padding-left: 35px;
        background: #f4f4f4;
    }
}

.recommend-box {
    padding-top: 50px;
    width: 100%;
    overflow: hidden;
    border-bottom: 2px solid #f4f4f4;

    .title {
        margin: 10px 0 10px 20px;
        color: #383838;
        font-size: 22px;
    }

    .list {
        width: 100%;
        margin-top: 5px;
        overflow-x: scroll;

        .item-box {
            box-sizing: border-box;
            padding-left: 20px;
            white-space: nowrap;

            .item {
                display: inline-block;
                width: 80px;
                height: 126px;
                margin-right: 20px;

                .logo {
                    display: block;
                    width: 80px;
                    height: 80px;
                    border-radius: 16px;
                }

                .name {
                    width: 100%;
                    color: #383838;
                    font-size: 14px;
                    text-align: center;
                    margin-top: 5px;
                    text-align: center;
                }

                .type {
                    width: 100%;
                    color: #afafaf;
                    font-size: 12px;
                    text-align: center;
                    margin-top: 3px;
                    text-align: center;
                }
            }
        }
    }
}

.hot-box {
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;

    .item {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        border-bottom: 2px solid #f4f4f4;

        &:nth-last-of-type(1) {
            border-bottom: 0;
        }

        .sort {
            font-size: 12px;
            color: #cdcccd;
            width: 20px;
            text-align: center;
            margin-right: 10px;
        }

        .logo {
            display: block;
            width: 60px;
            height: 60px;
            margin-right: 10px;

            &.type_1 {
                border-radius: 50%;
            }

            &.type_2 {
                border-radius: 16px;
            }
        }

        .detail {
            .name {
                width: 250px;
                color: #383838;
                font-size: 14px;
            }

            .type {
                margin-top: 5px;
                color: #afafaf;
                font-size: 12px;
            }

            .star {
                display: flex;
                align-items: center;
                margin-top: 5px;

                span {
                    color: #afafaf;
                    font-size: 12px;
                    margin-left: 5px;
                }
            }
        }
    }
}